<!DOCTYPE html>
<html lang="ko">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Primary Meta Tags -->

  <title>
    ITSAC - {% block title %}{% endblock %}
  </title>
  {% load static %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="title" content="ITSAC">
  <meta name="author" content="JijuISTeam">
  <meta name="description" content="IT Services Assets Cybersecurity">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://itsac.lottecorp.co.kr:8282">
  <meta property="og:title" content="ITSAC">
  <meta property="og:description" content="IT Services Assets Cybersecurity">
  <!--
    <meta property="og:image"
    content="">
  -->

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'ITSAC_WEB/assets/img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ITSAC_WEB/assets/img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ITSAC_WEB/assets/img/favicon/favicon-16x16.png' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- css -->
  <!-- Bootstrap -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- NProgress -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
  <!-- iCheck -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
  <!-- JQVMap -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/jqvmap/dist/jqvmap.min.css' %}" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

  <!-- Gentelella Theme Style -->
  <link href="{% static 'ITSAC_WEB/assets/vendors/Gentelella/css/custom.min.css' %}" rel="stylesheet">

  <!-- Specific Page JS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      {% include 'ITSAC_WEB/includes/sidebar.html' %}

      {% include 'ITSAC_WEB/includes/navigation.html' %}

      <div class="right_col" role="main">
        {% include 'ITSAC_WEB/includes/top_title.html' %}

        {% block content %}{% endblock content %}

      </div>
      {% include 'ITSAC_WEB/includes/footer.html' %}
    </div>
  </div>
  {% include 'ITSAC_WEB/includes/scripts.html' %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>